@import 'colors';
@import 'mixins';

.btn{
  background: $main-color;
  border: none;
  border-radius: 0.25em;
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  padding: 1em 1.5em;
  color: $white;
  cursor: pointer;
  font-weight: bold;
  @include animate();

  &:hover,
  &:focus{
    background: darken($main-color, 5%);
    box-shadow: 0 0 3px rgba(0,0,0,.18),0 3px 5px rgba(0,0,0,.3);
  }
}
