
//Material Design Colors
$red:          #F44336;
$pink:         #E91E63;
$pink-300:     #F06292;
$purple:       #9C27B0;
$deep-purple:  #673AB7;
$deep-purple-600: #5E35B1;
$indigo:       #3F51B5;
$indigo-600:   #3949AB;
$blue:         #2196F3;
$light-blue:   #03A9F4;
$cyan:         #00BCD4;
$teal:         #009688;
$teal-300:     #4DB6AC;
$teal-600:     #00897B;
$teal-800:     #00695C;
$green-400:    #66BB6A;
$green:        #4CAF50;
$green-600:    #43A047;
$green-700:    #388E3C;
$light-green:  #8BC34A;
$yellow:       #FFEB3B;
$deep-orange:  #FF5722;
$brown:        #795548;
$blue-grey:    #607D8B;
$blue-grey-50: #ECEFF1;
$blue-grey-200:#B0BEC5;
$blue-grey-800:#37474F;
$blue-grey-900:#263238;
$grey:         #9E9E9E;
$grey-300:     #E0E0E0;
$grey-800:     #424242;
//Flat UI Designmodo colors
//light
$turquoise:             #1ABC9C;
$flat-green:            #2ECC71;
$flat-blue:             #3498DB;
$flat-purple:           #9B59B6;
$flat-navy:             #34495E;
$flat-yellow:           #F1C40F;
$carrot:                #E67E22;
$flat-red:              #E74C3C;
$clouds:                #ECF0F1;
$concrete:              #95A5A6;
//dark
$turquoise-dark:        #16A085;
$flat-green-dark:       #27AE60;
$flat-blue-dark:        #2980B9;
$flat-purple-dark:      #8E44AD;
$flat-navy-dark:        #2C3E50;
$orange:                #F39C12;
$pumpkin:               #D35400;
$flat-red-dark:         #C0392B;
$sliver:                #BDC3C7;
//Other colors
$black:                 #212121;
$white:                 #F5F5F5;


$nice-purple:#4A4860;
$nice-pink: #DBA5C2;;

$nice-grey:               #33373a;
$nice-tur:              #248164;

/*SASS color vars*/
$main-color: $indigo-600;
$second-color: $pink-300;
$button-color: $pink-300;

$header: $main-color;
