// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'mixins';
@import 'form';
@import 'btn';


$circle-btn-w: 56px;
$circle-btn-h: $circle-btn-w;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: $second-color;
  @include animate();
  &:hover,
  &:focus{
    color: darken($second-color, 15%);
    opacity: 0.5;
  }
}


ul{
  list-style: none;

  li{
  font-size: 1.4em;
  margin: 1em -1.8em;

  }

}

.header{
  color: $white;
  background: $header;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);

  .title a{
    color: $white;
  }
}

.container-wide{
  max-width: 100%;
  padding: 2em 1em;
}

.container{
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 1em;
}

.wrapper{
  max-width: 760px;
  margin: 0 0 15px;
  padding: 1em 2em;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 3px 0px;
}

.edit-container, .blog-list-container{
  margin-top: 15px;
}


.image-container{
  position:relative;
  max-width: 760px;
  margin-top: 15px;
  min-height: 300px;
  background: url(https://download.unsplash.com/uploads/1413259835094dcdeb9d3/6e609595) 50% 50% no-repeat;
  background-size: cover;
  @include grayscale(50%);
}

.article{
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 2em 0;
}

.article-header{
  font-size: 2em;
  padding: .5em 0;
}


.controls-container{
  padding: 1em 0;
}


.new-article-link{
  position: absolute;
  bottom: 1.5em;
  right: 2em;
  width: $circle-btn-w;
  height: $circle-btn-h;
  background: $second-color;
  border-radius: 100%;
  color: $white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: $circle-btn-w;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  @include animate();
  & a{
    color: $white;
    display:block;
  }

  &:hover,
  &:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.36);
  }
}
