// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$pink-300: #F06292;


a{
  text-decoration: none;
  color: $pink-300;
  border-bottom: 2px solid $pink-300;
}


ul{
  list-style: none;

  li{

  margin: .5em 0;

  }

}


.article-header{
  font-size: 2em;
  padding: 1em;
}
